BOT_TOKEN=YOUR_BOT_TOKEN_HERE

HEADLESS=true

API_ID=1234567
API_HASH=abcdef1234567890abcdef

OWNER_1_SESSION=your_owner_1_session_string_here

OWNER_2_SESSION=your_owner_2_session_string_here

CLIENT_1_SESSION=your_client_1_session_string_here
CLIENT_2_SESSION=your_client_2_session_string_here
CLIENT_3_SESSION=your_client_3_session_string_here
CLIENT_4_SESSION=your_client_4_session_string_here
CLIENT_5_SESSION=your_client_5_session_string_here
CLIENT_6_SESSION=your_client_6_session_string_here

TICK_EMOJI=5463065366782386266
MONEY_EMOJI=5463131742465267150
CROWN_EMOJI=5463215573432115160
FIRE_EMOJI=5463131742465267151
